/* CSS Variables */
:root {
  --dark-bg-color: rgb(31, 31, 31);
  --fade-bg-color: linear-gradient(#5f5e5e, #2f2e2e);
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* body stylings */
body {
  background-image: var(--fade-bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
/* Navbar */
#nav {
  background-color: var(--dark-bg-color);
  color: #fff;
  box-shadow: var(--box-shadow);
}
#nav li {
  list-style: none;
}

#nav a {
  color: inherit;
  text-decoration: none;
}
#nav .active {
  border-bottom: #777 5px solid;
}
/* Footer */
#footer {
  background-color: var(--dark-bg-color);
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
#footer a {
  color: #fff;
}
/* Home page divs */
.home-container {
  display: flex;
  flex-direction: row;
}
.hero-image {
  background: url('../public/Hunter-on-subway.jpg') no-repeat center
    center/cover;
  height: 100vh;
  overflow: hidden;
  width: 50vw;
}
.link-btns {
  display: flex;
  justify-content: center;
  
}
.link {
  margin: 1rem;
  list-style-type: none;
}
.home-links {
  padding: 1rem;
  width: 50vw;
}
.home-links h1 {
  text-align: center;
  font-size: 2.5rem;
}
.home-links h2 {
  text-align: center;
  font-size: 2rem;
}
/* About me page */
.about-image {
  background: url('../public//Wedding-photo.jpg') no-repeat center left/cover;
  height: 100vh;
  width: 50vw;
}
.about-desc {
  width: 50vw;
  padding: 1rem;
}
.about-desc h1 {
  text-align: center;
}
/* Skills card in about me */
.skills {
  margin: 1rem;
  
}
.skills li {
  list-style-type: none;
  margin: 0 .5rem;
  font-size: 1.1rem;
}
.content-container {
  display: flex;
  flex-direction: column;
}
/* Project page */
#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: var(--box-shadow);
}
/* Card for individual projects */
.project-card {
  background-color: var(--dark-bg-color);
  border: black 1px solid;
  width: 20rem;
  height: 25rem;
  margin: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.project-card h3 {
  font-size: 1.5rem;
}
.project-card h4 {
  font-size: 1.3rem;
}
.project-card a {
  font-size: 1rem;
}
.project-img-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.project-img {
  width: 100%;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-desc {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.project-desc a {
  margin: 1rem 2.5rem;
}
/* Contact me page */
.form-container {
  border: 1px solid black;
  box-shadow: var(--box-shadow);
  background-color: var(--dark-bg-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 80vh;
}
.contact-form {
  margin: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.form-input {
  margin: .5rem 0;
  width: 100%;
} 
.form-input-text {
  margin: .5rem 0;
  width: 100%;
  height: 10rem;
} 
.form-btn {
  display: block;
  width: 100%;
}
/* Media queries */
@media (max-width: 710px) {
  #nav {
    font-size: .8rem;
  }
  #footer {
    font-size: .8rem;
  }
  .home-container {
    flex-direction: column;
  }
  .about-image {
    height: 60vh;
    width: 100vw;
  }
  .about-desc {
    width: 100%;
  }
  .home-links {
    width: 100%;
  }
  .hero-image {
    height: 60vh;
    width: 100vw
  }
  .skills-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
  }
  .skills {
    width: 100%;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 5px;
    background-color: var(--dark-bg-color);
    box-shadow: var(--box-shadow);
  }
  .skills h2 {
    font-size: 1.4rem;
  }
  .skills li {
    font-size: .9rem;
  }
  .contact-form {
    width: 80%;
  }
  .form-container {
    height: 75vh;
  }
  .project-card h3{
    font-size: 1.5rem;
  }
  .project-card h4{
    font-size: 1.2rem;
  }
  .project-card a{
    font-size: .8rem;
  }
  .project-img-container {
    height: 30%;
  }
}
@media (max-width: 400px) {

}
